<div class="container mx-auto my-5">
    <mat-card>
        <div class="flex justify-center items-center">
            <mat-form-field class="flex justify-center items-center">
                <mat-label>Aggiungi task</mat-label>
                <input matInput>
            </mat-form-field>
            <button mat-raised-button color="primary" class="mx-3">Aggiungi</button>
        </div>
        
        <div>
            <ul *ngFor="let data of list" class="flex justify-between">
                <mat-checkbox color="primary">
                    <li>{{ data.content }}</li>
                </mat-checkbox>
                <button mat-raised-button color="warn">Elimina</button>
            </ul>
        </div>
    </mat-card>
</div>