<div>
    <h1 mat-dialog-title class="text-center">Modifica</h1>
    
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="Task" [value]="data.dataContent" [(ngModel)]="data.dataContent" (keyup.enter)="save()">
        </mat-form-field>
    </div>

    <div mat-dialog-actions class="flex justify-center align">
        <div>
            <button mat-button color="primary" (click)="save()">Aggiorna</button>
            <button mat-button color="warn" (click)="close()">Annulla</button>
        </div>
    </div>
</div>